.header{
    grid-column: 1 / -1;
    grid-row: 1;
    height: 120px;
    box-sizing: border-box;
    background: #000;
    display: flex;
    /*  justify-content: center; */
    align-items: center;
}
.header h1{
    color: #ebebeb
}