.main{
	align-items: center;
    box-sizing: border-box;
    grid-column: 1 / -1;
    grid-row: 3 / 6;
    padding: 5px;
    min-height: 300px;
    width: 100%;
}
.main h1{
    color: #ebebeb
}


/* Tablet
@media only screen and (max-width: 780px){
    main.main{
      grid-column: 1 / -1;
      grid-row: 4 / 9;
    }
  }
  
  /* Mobile */
/* @media (max-width: 480px) {
    main.main {
        grid-column: 1;
        grid-row: 4 / 9;
    }
} */