.main{
	align-items: center;
    background-color: aqua;
    box-sizing: border-box;
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    grid-row: 3 / 6;
    padding: 5px;
	display: grid;
    min-height: 300px;
	grid-template-row: repeat(3, 100px);
}
.main h1{
    color: #ebebeb
}


/* Tablet
@media only screen and (max-width: 780px){
    main.main{
      grid-column: 1 / -1;
      grid-row: 4 / 9;
    }
  }
  
  /* Mobile */
/* @media (max-width: 480px) {
    main.main {
        grid-column: 1;
        grid-row: 4 / 9;
    }
} */ */