.section{
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}