@import url('../../style/fontes.css');

.box{
    margin-left: 15px;
}
.name h1{
    color: #ebebeb;
    text-align: center;
    font-family: Autography;
    font-size: 2rem;
}



/* Tablet */
@media only screen and (max-width: 768px){
    .name{
        width: 100px;
        margin-left: 10px
    }
    .name h1{
        font-size: 1.5rem
    }
}
  
  /* Mobile */
@media (max-width: 480px) {
    .name{
        width: 100px;
    }
    .name h1{
        font-size: 1.3rem
    }
}