*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 2fr);
}






/* Responsive */
/* Tablet */
@media only screen and (max-width: 768px){
    div.container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}
/* MObile */
@media (max-width: 480px) {
    div.container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, 2fr);
    }
}